.sort-by {
    &__select-container {
        position: relative;

        &:hover svg {
			fill: $color-white;
		}
    }

    &__select-container svg {
        position: absolute;
		top: 30%;
		right: 10%;
        cursor: pointer;
        transition: .2s all;
    }
}

.sort-toolbar {
	&__input {
		font-family: $font-body-2;
        font-size: .7rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;
		height: 2.5rem;
        padding: 0 0 0 1.5rem;
        cursor: pointer;
        width: 250px;
        transition: .2s all;

        &:hover {
			background-color: $color-hover-3;
			color: $color-white;
        }
        
        @include respond-860 {
			width: 100%;
        }
        
        @include respond-400 {
			font-size: .6rem;
		}
	}
}