// Text Colors
$color-body-text: #333;
$color-title: #c0963c;
$color-subtitle: #8e8e8e;
$color-subtitle-2: #cdcdcb;
$color-hover: #b4841e;
$color-hover-2: #f0f0ef;
$color-hover-3: #252525;
$color-links: #979797;
$color-checkout: #00cc8f;
$color-white: #fff;
$color-navigation: #999;

// Background Color
$color-body: #f6f6f6;

// Font Family
$font-body: 'Amiri', serif;
$font-body-2: 'Lato', sans-serif;
