<div class="error-404 wrapper wrapper-2">
    <div class="error-404__container">
        <div class="error-404__info">
            <header class="error-404__header">
                <h1 class="header__h1">{{ 'general.404.title' | t }}</h1>
                <h2 class="header__h2">
                    {{ 'general.404.subtext' | t }}
                </h2>
            </header>
            <p class="error-404__text">{{ 'general.404.subtext_html' | t }}</p>
            <a 
            class="error-404__shopping-button"
            href="{{ routes.all_products_collection_url }}"
            >
            Continue Shopping
            </a>
        </div>
    </div>
</div>