<div class="terms-of-service wrapper wrapper-2">
    <div class="terms-of-service__container">
        <h1 class="terms-of-service__title">{{ page.title }}</h1>
        <div>{{ page.content }}</div>
    </div>
</div>