<div class="refund-policy wrapper wrapper-2">
    <div class="refund-policy__container">
        <h1 class="refund-policy__title">{{ page.title }}</h1>
        <div>{{ page.content }}</div>
    </div>
</div>