.collection-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: .2rem;
	grid-row-gap: .2rem;
	margin-top: 5rem;
	margin-bottom: 5rem;

	@include respond-1110 {
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	}

	@include respond-950 {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	@include respond-860 {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	@include respond-768 {
		display: none;
		grid-template-columns: 1fr;
	}

	@include respond-480 {
		margin-bottom: 3rem;
	}

	&__container {
		background-color: $color-white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 4rem 0 3.5rem;
		transition: all .3s ease-in;

		&:hover {
			background-color: $color-hover-2;
		}

		@include respond-950 {
			padding: 3rem 0 2.5rem;
		}

		@include respond-860 {
			padding: 2.5rem 0 2rem;
		}

		@include respond-768 {
			padding: 3rem;
		}

		@include respond-480 {
			padding: 2rem 0;
		}
	}

	&__image {
		margin: 2rem 0;
		order: 2;
		width: 100%;
	}

	&__img {
		width: 60%;
		margin: 0 auto;

		@include respond-950 {
			width: 70%;
		}

		@include respond-860 {
			width: 75%;
		}
	}

	&__title {
		color: $color-title;
		font-family: $font-body-2;
		font-weight: 700;
		letter-spacing: .1rem;
		text-transform: uppercase;
		order: 1;
	}

	&__title-text {
		font-size: .6rem;

		@include respond-768 {
			font-size: 1rem;
		}

		@include respond-480 {
			font-size: .8rem;
		}
	}

	&__subtitle {
		color: $color-subtitle;
		font-family: $font-body;
		font-size: .7rem;
		font-style: italic;
		font-weight: 300;
		text-align: center;
		opacity: .5;
		width: 64%;
		order: 3;

		@include respond-950 {
			font-size: .6rem;
		}

		@include respond-768 {
			font-size: .8rem;
		}

		@include respond-768 {
			font-size: .7rem;
		}
	}
}

// ------- Tablet Style - Row List -------- //
.collection-list-row {
	display: none;
	
	@include respond-768 {
		display: grid;
		grid-template-row: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: .2rem;
		grid-row-gap: .2rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	&__container {
		background-color: $color-white;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 2rem;
		transition: all .3s ease-in;

		@include respond-630 {
			padding: 1.5rem;
		}

		@include respond-420 {
			padding: 1rem;
		}
	}

	&__image {
		width: 32%;
		margin-right: 2.5rem;

		@include respond-630 {
			width: 35%;
			margin-right: 2rem;
		}

		@include respond-480 {
			margin-right: 1.5rem;
		}
	}

	&__img {
		max-width: 100%;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		padding-top: 2rem;

		@include respond-480 {
			padding-top: 1rem;
		}
	}

	&__title {
		color: $color-title;
		font-family: $font-body-2;
		font-size: .6rem;
		font-weight: 700;
		letter-spacing: .1rem;
		text-transform: uppercase;
		margin-bottom: .8rem;

		@include respond-630 {
			font-size: .4rem;
			margin-bottom: .5rem;
		}

		@include respond-420 {
			font-size: .35rem;
		}
	}

	&__subtitle {
		color: $color-subtitle;
		font-family: $font-body;
		font-size: .7rem;
		font-style: italic;
		font-weight: 300;
		opacity: .5;

		@include respond-630 {
			font-size: .6rem;
		}

		@include respond-420 {
			font-size: .5rem;
		}
	}
}